* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    margin: auto;
}

body{
    background-color: lightgrey;
}

.headerbox{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}

#image{
    height: 50px;
}
img{
    height: 100%;
}

ul {
    display: flex;
    width: 200px;
    right: 20px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

a:hover{
    color: orange;
    font-weight: bold;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: sans-serif;
}
.post{
    border: 1px solid black;
    width: 60%;
    margin: 10px auto 20px;
    background-color: white;
}
.post a{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    margin-top: 10px;
    text-align: justify;
}
.post_body{
    border: 1px solid black;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    height: 30px;
    padding: 10px;
}
footer h5{
    text-align: center;
    font-display: normal;
}
